
header{
    padding: 20px 0px;
    text-align: center;
    background-color: rgb(200, 0, 0);
    
}
 header h1{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
 }
 